$main-color: #8f44ad;

/*style navbar*/

.navbar {
  background-color: $main-color;
  .navbar-brand {
    color: white;
  }
  .nav-item {
    .nav-link {
      color: white;
    }
  }
}

/*style form section */
.sign {
  h4 {
    color: $main-color;
    a {
      color: #e77e22;
    }
  }
  span {
    color: #e77e22;;
    font-size: 20px;
    strong{
        color:$main-color;
    }
  }
}

.content {
  margin: auto;
  .add {
    position: relative;
    top: 40px;
    margin: auto;
    border: 1px solid #e77e22;
    height: 85px;
    width: 85px;
    background-color: #efefef;
    padding-top: 20px;
    border-radius: 50%;
    cursor: pointer;

    input {
      visibility: hidden;
      width: 6px;
    }
    .fa-plus {
      font-weight: bolder;
      background-color: #8f44ad;
      height: 45px;
      width: 45px;
      padding-top: 5px;
      color: white;
      border-radius: 50%;
      font-size: 35px;
      cursor: pointer;
    }
  }
  .form-inputs {
    background-color: #d8d8d8;
    padding: 63px 15px 20px 15px;
    border-radius: 7px;
    .form-control{
        border: 1px solid $main-color;
        color: $main-color;
        background-color: #d8d8d8;


    }
  }

  /*style terms*/
  .terms {
    margin-top: 50px;
    display: block;
    text-align: left;
    font-weight: 600;

    span {
      color: #e77e22;
    }
    p {
      line-height: 1.9;
      margin: 7px 0px;
    }
    button {
      margin: 30px 0px;
      padding: 10px 20px;
      color: white;
      border: none;
      border-radius: 0;
      background-color: $main-color;
      cursor: pointer;
      &:hover {
        background-color: #e77e22;
      }
    }
  }
}

/*style fotter */
.fotter {
  background-color: #2c1144;
  color: white;
  padding: 45px 0px;
  a {
    color: white;
    li {
      list-style: none;
      text-align: left;
    }
  }
  hr{
    background-color: #e77e22;
}
  span{
      text-transform: capitalize;
  }

}

